



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detect Depression</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<style>
    .nav-link  {
          color: whitesmoke !important;
          font-size: large;
    }
    .navbar-brand{
        color: whitesmoke !important;
          font-size: large;
    }


    .bg-cover {
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    body{
        font-family: 'Montserrat', sans-serif;
    }

</style>


</head>
<body>

    <!-- NAV BAR -->




    <div style="background-color: #bdc1c5;">
   <div class="container">
    <nav class="navbar navbar-expand-md transparent ">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <!-- <ul class="navbar-nav mr-auto">
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Depression Detection</a>
                </li>
            </ul> -->
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#"> Depression Detection </a>
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target=".dual-collapse2" >
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#yaha">Feedback</a>
                </li>
            </ul>
        </div>
    </nav>
   </div>
    
    </div>
    <!-- NAV BAR -->





    <div class="jumbotron bg-cover text-white" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../static/images/bg3.jpg) ;">
        <div class="container">
        <h1 style="text-align: center; margin-top: 13%;">Upload EEG data </h1>
        <p style="text-align: center; margin-top: 2%;">Static / Dynamic</p>
        <!-- <hr class="my-4"> -->
        <p style="text-align: center; ">Please refer to data format table below for more details.</p>
  
        <!-- <div class="container">
          <div id="content">{% block content %}{% endblock %}</div>
      </div> -->
      
          </div>
      <!-- /.container   -->
      </div>


<!-- something -->
<div style="display: flex; align-items: center;">
<div class="row">
    <div class="col-7" style="background-color: slateblue;">
        <h2 style="text-align: center; margin-top: 10%;">Data Format Table</h2>
                <table class="table" style="margin-top: 5%;">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"> Type of EEG data to be uploaded </th>
                            <th scope="col"> Number of files to be uploaded </th>
                            <th scope="col"> Extension of files to be uploaded </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row"> EEGlab </td>
                            <td> 2 </td>
                            <td> .set and .fdt </td>
                        </tr>
                        <tr>
                            <td scope="row"> BrainVision </td>
                            <td> 3 </td>
                            <td> .vhdr , .vmrk and .dat </td>
                        </tr>
                        <tr>
                            <td scope="row"> European data format </td>
                            <td> 1 </td>
                            <td> .edf </td>
                        </tr>
                    </tbody>
                </table>


                <form id="upload-file" method="post" enctype="multipart/form-data" style="margin-top: 2%;  text-align: center;   padding: 35px 35px;
                " >
                    
        
                    <input  type="file" name="file" id="imageUpload" accept=".set , .fdt , .vhdr , .vmrk , .dat , .edf " multiple class="upload-label" >
                </form>


                <div >
                    <div class="image-section" style="display:none; ">
            
                        <div>
                        
                            <button type="button" class="btn btn-primary btn-lg " id="btn-predict" style="margin-left: 25%; ">Predict!</button>
                        </div>
                    </div>
                    <br />
                    <div class="loader" style="display:none; margin-left: 25%;">
            
                    </div>
                </div>
    </div>
    
    <div class="col-5" style="background-color: slateblue;" >
        <h5 style="text-align: center; margin-top: 10%;">Enter the number of seconds upto which you have to collect data for EEG analysis for depression detection</h5>
        <form method="GET"  >
            <div style=" text-align: center; margin-top: 5%; padding: 35px 35px;">
                
            <input type="text" id="fname" name="fname" style=" text-align: center;">
            </div><br><br>
            <div class="col-4" > <a class="btn  btn-lg" href="/get_realtime_eeg_data/fname" role="button" style="background-color: rgb(46, 55, 86); color: whitesmoke; margin-left: 80%;  " >KUCH BHI</a></div>
        </form>
    </div>
</div>
</div>
<!-- end something -->


    <!-- HOME PAGE -->


    

    




  
   
    
    

      
   
      

    
    
    <!-- HOME PAGE -->
    <!-- LANDING PAGE -->   
            



            <div class="container">
                <h2 style="text-align: center;">Data Format Table</h2>
                <table class="table" style="margin-top: 2%;">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"> Type of EEG data to be uploaded </th>
                            <th scope="col"> Number of files to be uploaded </th>
                            <th scope="col"> Extension of files to be uploaded </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row"> EEGlab </td>
                            <td> 2 </td>
                            <td> .set and .fdt </td>
                        </tr>
                        <tr>
                            <td scope="row"> BrainVision </td>
                            <td> 3 </td>
                            <td> .vhdr , .vmrk and .dat </td>
                        </tr>
                        <tr>
                            <td scope="row"> European data format </td>
                            <td> 1 </td>
                            <td> .edf </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        
        
  
    <!-- ABOUT SECTION -->
    <!-- <div  style="background-color: #bdc1c5 ; margin-top: 2%;"> -->
        
        <!-- BANNER AND FOOTER -->

        <!-- <h4 style="color: whitesmoke ; text-align: center; margin-top: 7%; "> EEG For Depression Detection </h4> -->
        <!-- <p> Electroencephalography, or EEG, technology that measures brain function could encourage earlier diagnoses of common mental and neurological disorders, including Depression, autism, ADHD and dementia.</p>
       
    </div> -->


    <!-- Footer -->
<footer class="page-footer font-small " style="background-color:rgb(46, 55, 86) ;">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: white;">© 2021 Copyright:
      <a href="#" style="color: white;">......</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->


    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.15.2/URI.min.js"></script>

    <script>
        // Get our <a> element
var l = document.getElementById('fname');

// Use URI.js to work with the URI
// http://medialize.github.io/URI.js/
var uri = URI(l.href);

// Get the query string as an object
var qs = uri.query(true);

// Change our value
qs.userName = 'test1'

// Update the URI object
uri.query(qs);

// Set our new HREF on the <a> element
l.href = uri;
    </script>
</body>



     






</html>