



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detect Depression</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<style>
    .nav-link  {
          color: whitesmoke !important;
          font-size: large;
    }
    .navbar-brand{
        color: whitesmoke !important;
          font-size: large;
    }


    .bg-cover {
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    body{
        font-family: 'Montserrat', sans-serif;
    }

</style>


</head>
<body>

    <!-- NAV BAR -->




    <div style="background-color: rgb(45,46,48) ;">
   <div class="container">
    <nav class="navbar navbar-expand-md transparent ">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <!-- <ul class="navbar-nav mr-auto">
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Depression Detection</a>
                </li>
            </ul> -->
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#"> Depression Detection </a>
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target=".dual-collapse2" >
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#staticid">Static</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#dynamicid">Dynamic </a>
                </li>
            </ul>
        </div>
    </nav>
   </div>
    
    </div>
    <!-- NAV BAR -->





    <!-- <div class="jumbotron bg-cover text-white" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../static/images/bg3.jpg) ;">
        <div class="container">
        <h1 style="text-align: center; margin-top: 13%;">Upload EEG data </h1>
        <p style="text-align: center; margin-top: 2%;">Static / Dynamic</p>
        <p style="text-align: center; ">Please refer to data format table below for more details.</p>
  
       
      
          </div>
      </div> -->


<!-- static -->
<div class="jumbotron bg-cover text-white " style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../static/images/bg3.jpg) ;">
<h3 style="text-align: center; ">For detection of Depression in patients, data can be uploaded manually or autogenerated.</h3>
<div class="container"  id="staticid">
    <div class="row">
    <div class="col-6">
        
        <h4 style="text-align: center; margin-top: 10%;">Data Format Table</h4>
                <table class="table" style="margin-top: 2%;">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"> Type of EEG data to be uploaded </th>
                            <th scope="col"> Number of files to be uploaded </th>
                            <th scope="col"> Extension of files to be uploaded </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row"> EEGlab </td>
                            <td> 2 </td>
                            <td> .set and .fdt </td>
                        </tr>
                        <tr>
                            <td scope="row"> BrainVision </td>
                            <td> 3 </td>
                            <td> .vhdr , .vmrk and .dat </td>
                        </tr>
                        <tr>
                            <td scope="row"> European data format </td>
                            <td> 1 </td>
                            <td> .edf </td>
                        </tr>
                    </tbody>
                </table>
                <h6 style="text-align: center; color: rgb(43, 142, 248) ;">*Please refer to Data Format Table for details regarding data*</h6>
            </div>
    <div class="col-6">
        <p style="margin-top: 20% ; font-weight: bold; font-size: 135%; ">
            To detect depression using recorded EEG data-
            <ul >
                <li>Click on the <b> “Upload files” </b>and upload data</li>
                <li>Click on the <b>“Predict”</b> button that appears after uploading data</li>
                <li>Result will be displayed</li>
            </ul>
            <!-- color: rgb(23, 143, 177) -->
        </p>
        <form id="upload-file" method="post" enctype="multipart/form-data" style="margin-top: 2%;  text-align: center;   
        " >
            

            <input  type="file" name="file" id="imageUpload" accept=".set , .fdt , .vhdr , .vmrk , .dat , .edf " multiple class="upload-label" style="padding: 35px 35px;  " >
            
        </form>
        <!-- predict and load -->
        <div >
            <div class="image-section" style="display:none; ">
    
                <div >
                    <br />
                    <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict</button>
                </div>
            </div>
            <br />
            <div class="loader" style="display:none;">
    
            </div>
        </div>
        <!-- end predict and load -->
    </div>
    </div>
    
</div>


<!-- static result -->
<div class="container" >
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10"><h3 id="result" style="color: rgb(43, 142, 248); background-color: whitesmoke; text-align: center;"></h3></div>
        <div class="col-1"></div>
    </div>



    </div>
    <!-- end static result -->

<!-- end static -->


<hr style="height:10px;border-width:10;color:gray;background-color: white">


<!-- dynamic -->
<div class="container " id="dynamicid" style=" margin-top: 5%;">
    <div class="row">
        <div class="col-6">
            <p style="margin-top: 10%;margin-left: 5%; font-weight: bold; font-size: 135%;">To detect depression using auto generated data-
                <ul style ="margin-left: 5%;">
                    <li>Enter the time(in seconds) according to limit
                        </li>
                    <li>Click on <b> "Submit" </b>button
                        </li>
                    <li>Result will be displayed</li>
                </ul></p>
        <form action="{{ url_for("get_realtime_eeg_data")}}" method="post" id="formid">
            <label for="seconds" style="margin-top: 5%; margin-left: 15%; ">Seconds:</label>
            <input type="number" id="seconds" name="seconds" placeholder="seconds" min="10" style="margin-top: 5%;" required>
           <br>
            <button type="submit" id="buttonid" class="btn btn-primary" style="margin-top: 5%; margin-left: 35%; margin-bottom: 15%;" >Submit</button>
        
        </div>
        <div class="col-6">

            <p style="margin-top: 15%;text-align: left;color: rgb(43, 142, 248);font-size: 120%;">
                This is demonstration to detect Depression when our model receives data from <b> Lab Streaming Layer</b>.<br><br>
                The total time for which the data must be collected can be given as input and the result is predicted according to the recorded data.
            </p>
        </div>
    </div>
</div>
<!-- end dynamic -->
   
    
    
<!-- result dynamic display -->

<h3  style="color: rgb(43, 142, 248); background-color: whitesmoke; text-align: center;">{{result}}</h3>

    
<!-- end result dynamic display -->
   
      

    
    
    


        
        
  </div>
   


        <!-- Footer -->
    <footer class="page-footer font-small " style="background-color:rgb(45, 46, 48) ;">

        
        <div class="footer-copyright text-center py-3" style="color: white;">© 2021 Copyright:
        <a href="#" style="color: white;">......</a>
        </div>
        
    
    </footer>
    <!-- Footer -->


    </div>



    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.15.2/URI.min.js"></script>

   
</body>



     






</html>