



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DETECT DEPRESSION !</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        

    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">   
 <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>



</head>
<body>
    <div class="wrapper">
        <div class="nav">
            <div class="logo">
                <h4>Depression Detection.</h4>
            </div>
            <div class="links">
                
                <a href="#" style="color:#2f8be0">Help</a>
                <a href="#" style="color:#2f8be0">About</a>
                <a href="#" style="color:#2f8be0">Contact</a>
            </div>
        </div>

        <!-- LANDING PAGE -->

        <div class="landing">
            <div class="landingText" data-aos="fade-up" data-aos-duration="1000">
                <h2><span style="color:#2f8be0";font-size: 3vw">EVEN DEPRESSION CAN BE CURED. <span></h2>
<br/>
              
                
                    <div class="container">
                <div id="content">{% block content %}{% endblock %}</div>
                        </div>       

               
            </div>
            <div class="landingImage" data-aos="fade-down" data-aos-duration="2000">
                <img src="{{url_for('static',filename = 'images/bg.png')}}" alt="" >
            </div>
        </div>

        <!-- ABOUT SECTION -->
             <div class="meri">
        <div class="about align-self-center">
            <div class="aboutText" data-aos="fade-up" data-aos-duration="1000">
                <h2>Why is <span style="color:#2f8be0;font-size:3vw">Depression Detection </span> important? </h2>
<br/>
                <ol>
                    <li > 
                        <span style="color:#2f8be0">01</span>
                         <p>Raising depression awareness can help defeat the stigma of the illness and can also help people suffering from it to reach out and get the help that they need to defeat it.</p>
                    </li>
                    <li > 
                        <span style="color:#2f8be0">02</span>
                         <p>Early detection, intervention, and appropriate treatment can promote remission, prevent relapse, and reduce the emotional and financial burden of the disease.</p>
                    </li>
                    <li > 
                        <span style="color:#2f8be0">03</span>
                         <p>There are at least a dozen advantages to obtaining an early and accurate diagnosis when cognitive symptoms are first noticed. These advantages result in a higher quality of life, less stress for family care partners, more time to treasure the present, and increased time for future planning.</p>
                    </li>
                    <li> 
                        <span style="color:#2f8be0">04</span>
                         <p>Diagnosis is the process of finding out if a patient has a specific disease. A medical professional prescribes a test to make a diagnosis or to exclude possible illness.</p>
                    </li>

                </ol>
            </div>
            <div class="aboutList" data-aos="fade-left" data-aos-duration="1000">
                

<!-- <img  src="{{url_for('static',filename = 'images/doctor-woman-400px.png')}}" alt="" > -->
            </div>
        </div>

        <!-- INFO SECTION -->

        <div class="infoSection">
            <div class="infoHeader" data-aos="fade-up" data-aos-duration="1000">
                <h1>Things you could do to fight <br> <span style="color:#2f8be0">Depression .</span> </h1>
            </div>
            <div class="infoCards">
                <div class="card one" data-aos="fade-up" data-aos-duration="1000">
                    <img src="{{url_for('static',filename = 'images/movie.png')}}" class="cardoneImg" alt="" data-aos="fade-up" data-aos-duration="1100">
                    <div class="cardbgone"></div>
                    <div class="cardContent">
                        <h2>Medications</h2>
                        <p>There are various medications and medical procedures to treat depression and anxiety.</p>
                        <a href="#">
                           
                        </a>
                    </div>
                </div>
                <div class="card two" data-aos="fade-up" data-aos-duration="1300">
                    <img src="{{url_for('static',filename = 'images/learn.png')}}" class="cardtwoImg" alt="" data-aos="fade-up" data-aos-duration="1200">
                    <div class="cardbgtwo"></div>
                    <div class="cardContent">
                        <h2>Consult for therapy</h2>
                        <p>Therapies like yoga, meditation, and acupuncture can keep symptoms of depression at bay by regulating mood.</p>
                        <a href="#">
                            
                        </a>
                    </div>
                </div>
                <div class="card three" data-aos="fade-up" data-aos-duration="1600">
                    <img src="{{url_for('static',filename = 'images/videocall.png')}}" class="cardthreeImg" alt="" data-aos="fade-up" data-aos-duration="1300">
                    <div class="cardbgone"></div>
                    <div class="cardContent">
                        <h2>Reach out to Support Groups</h2>
                        <p>Antidepressants can be helpful on their own, but combining medication and therapy is much more effective for managing depression in the long run.</p>
                        <a href="#">
                            
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <!-- BANNER AND FOOTER -->

        <div class="banner">


 <div class="container">
<h1 style="color:#2f8be0 "> EEG For Depression Detection </h1> <br/>
<h3> Electroencephalography, or EEG, technology that measures brain function could encourage earlier diagnoses of common mental and neurological disorders, including Depression, autism, ADHD and dementia.</h3>
 </div>
            <div class="bannerText" data-aos="fade-right" data-aos-duration="1000">
                
                <a href="#"> <img src="img/AndroidPNG.png" alt=""> </a>
                <a href="#"> <img src="img/iosPNG.png" alt=""> </a>
            </div>
            <div class="bannerImg" data-aos="fade-up" data-aos-duration="1000">
                <img src="{{url_for('static',filename = 'images/MobileApp.png')}}" alt="">
            </div>
        </div>

        <div class="footer">
<br/>
<br/>
            <h2>You Are Cured ! </h2>
            
        </div>
    </div>

 
</div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script >
            AOS.init();
    </script>
</body>



     






</html>