{% extends "base.html" %} {% block content %}



<div class="container" data-aos="fade-up" data-aos-duration="1000">


   
    <div class="row">






        <div class="col-1"></div>

        



             <div class="col-4" style="text-align: center; margin-top: 5%; "> 
                
                
                <!-- <a class="btn  btn-lg" href="#" role="button" style="background-color: rgb(46, 55, 86); color: whitesmoke;">Upload Static</a> -->
                <form id="upload-file" method="post" enctype="multipart/form-data">
                    <br />
        
                    <input type="file" name="file" id="imageUpload" accept=".set , .fdt , .vhdr , .vmrk , .dat , .edf " multiple class="upload-label" >
                </form>
            
            </div>
        <div class="col-2"></div>
            <form method="POST">
                <div class="col-4" style="text-align: center; margin-top: 5%; "> <a class="btn  btn-lg" href="/get_realtime_eeg_data" role="button" style="background-color: rgb(46, 55, 86); color: whitesmoke;">Upload Dynamic</a></div>
            </form>
        <div class="col-1"></div>

<div style="text-align: center;">
        <div class="image-section" style="display:none; ">

            <div>
                <br />
                <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
            </div>
        </div>
        <br />
        <div class="loader" style="display:none;">

        </div>
    </div>

               



            </div>
        </div>
    </div>








<div class="container" >
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10"><h2 id="result" style="color: #2f8be0;"></h2></div>
        <div class="col-1"></div>
    </div>



    </div>














{% endblock %}