{% extends "base.html" %} {% block content %}

<h2>Upload EEG .set and .fdt file</h2>

<div>
    <form id="upload-file" method="post" enctype="multipart/form-data" >
<br/>
        <label for="imageUpload" class="upload-label">
            Choose...
        </label>
        <input type="file" name="file" id="imageUpload" accept=".set ,.fdt " multiple>
    </form>
    <!-- <form action="http://jkorpela.fi/cgi-bin/echo.cgi"enctype="multipart/form-data" method="post">
          <!-- <p>
          Type some text (if you like):<br>
          <input type="text" name="textline" size="30">
          </p> -->
          <!-- <p>
          Please specify a file, or a set of files:<br>
          <input type="file" name="datafile" multiple>
          </p>
          <div>
          <input type="submit" value="Send">
          </div> -->
      <!-- </form> -->

    <div class="image-section" style="display:none;">
        <!-- <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div> -->
        <div>
            <br/>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
        </div>
    </div>
<br/>
    <div class="loader" style="display:none;"> 

</div>
      
    <h3 id="result">
        
    </h3>

</div>

{% endblock %}