{% extends "base.html" %} {% block content %}


<br />
<br />
<br />
<div class="container" data-aos="fade-up" data-aos-duration="1000">


    <div class="row">
        <div class="col-7">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"> Type of EEG data to be uploaded </th>
                        <th scope="col"> Number of files to be uploaded </th>
                        <th scope="col"> Extension of files to be uploaded </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row"> EEGlab </td>
                        <td> 2 </td>
                        <td> .set and .fdt </td>
                    </tr>
                    <tr>
                        <td scope="row"> BrainVision </td>
                        <td> 3 </td>
                        <td> .vhdr , .vmrk and .dat </td>
                    </tr>
                    <tr>
                        <td scope="row"> European data format </td>
                        <td> 1 </td>
                        <td> .edf </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-2"> </div>
            <div class="col-3">

                <div>

                    <form id="upload-file" method="post" enctype="multipart/form-data">
                        <br />

                        <input type="file" name="file" id="imageUpload" accept=".set , .fdt , .vhdr , .vmrk , .dat , .edf " multiple class="upload-label" >
                    </form>


                    <div class="image-section" style="display:none;">

                        <div>
                            <br />
                            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
                        </div>
                    </div>
                    <br />
                    <div class="loader" style="display:none;">

                    </div>



                </div>



            </div>
        </div>
    </div>




<br />



<div class="container" >
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10"><h2 id="result" style="color: #2f8be0;"></h2></div>
        <div class="col-1"></div>
    </div>



    </div>














{% endblock %}